.container{
    width: 100%;
    background-color: white;
    height: fit-content;
    margin: 0 10px;
}
.container h2{
    padding: 10px;
    color: grey;
    font-size: 1.3rem;
    text-align: center;
}
.scores{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.each{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}